@use "../../variables.scss" as *;
.complexes {
    padding: 0 15%;
    margin-top: 48px;
    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }
    &__container {
        direction: rtl;
        background-color: $light;
        border-radius: 10px;
        border: 1px solid rgba($light-gray, 0.2);
        width: 662px;
        height: 100%;
    }
    &__data {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 24px;
        height: 200px;
        background-color: rgba($light-gray, 0.1);
        border-left: 6px solid rgba($dark-green, 0.7);
        border-left: 6px solid rgba($dark-green, 0.7);
        display: flex;
        gap: 24px;
    }
    &__img {
        width: 150px;
        height: 125px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__title {
        color: $dark-gray;
        font-size: $l-font;
    }
    &__description {
        max-width: 600px;
        p {
            color: rgba($light-gray, 0.8);
            font-size: $xs-font;
        }
    }
    &__footer {
        padding: 24px;
    }
    &__footerData {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }
    &__footerBoxs {
        width: 142px;
        min-width: 142px;
        border: 1px dashed rgba($dark-green, 0.7);
        border-radius: 6px;
    }
    &__footerTitle {
        padding: 5px 6px;
        background-color: rgba($dark-green, 0.7);
        display: flex;
        color: $light;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
    }
    &__footerIcon {
        background-color: rgba($dark-green, 0.6);
        padding: 2px;
        border-radius: 2px;
    }
    &__footerDescription {
        padding: 6px;
        p {
            color: rgba($light-gray, 1);
        }
    }
    &__footerBtn {
        width: 100%;
        button {
            width: 100%;
            text-align: center;
            background-color: rgba($dark-green, 0.7);
            color: $light;
            padding: 5px 15px;
            border-radius: 5px;
            margin-top: 24px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                background-color: rgba($dark-green, 1);
            }
        }
    }
    &__footerBtContainer {
        display: flex;
        gap: 6px;
    }
}
#complexes {
    &__footerBtnView {
        button {
            background-color: rgba($light-gray, 0.8);
            transition: all 0.2s ease;
            &:hover {
                background-color: rgba($light-gray, 1);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .complexes {
        padding: 0 5%;
        &__container {
            width: 380px;
        }
        &__inner {
            display: grid;
            justify-content: center;
        }
        &__footerBtContainer {
            display: grid;
        }
    }
}
