@use "../../variables.scss" as *;
.features {
    padding: 0 15%;
    margin-top: 24px;
    &__inner {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }
    &__content {
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $light-soft;
        min-width: 250px;
        min-height: 150px;
        padding: 24px;
        border-left: 3px solid rgba($dark-green, 0.7);
        transition: all 0.2s ease;
        &:hover {
            border-left: 3px solid rgba($dark-green, 0.4);
            div {
                i {
                    transform: rotate(15deg);
                }
            }
        }
    }
    &__icons {
        i {
            font-size: $s-font;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba($dark-green, 0.7);
            transition: transform 0.2s ease;
        }
    }
    &__title {
        h3 {
            font-weight: 600;
            color: $dark-green;
            font-size: $xs-font;
            max-width: 200px;
        }
    }
    &__description {
        p {
            max-width: 200px;
            font-size: $xxs-font;
        }
    }
}
@media screen and (max-width: 1024px) {
    .features {
        padding: 0;
        margin-top: 24px;
    }
}
