@use "../../variables.scss" as *;
.howtWorks {
    padding: 0 15%;
    margin-top: 48px;
    &__title {
        text-align: center;
        h1 {
            font-size: $xl-font;
            font-weight: 600;
            color: rgba($dark-green, 0.7);
        }
        p {
            font-size: $xs-font;
            color: $light-gray;
            font-weight: 400;
        }
    }
    &__container {
        width: 100%;
        height: 500px;
        border: 1px solid rgba($light-gray, 0.5);
        border-left: 6px solid rgba($dark-green, 0.7);
        border-radius: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }
    &__data {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__rows_container {
        display: flex;
        align-items: center;
        grid-area: 6px;
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $xs-font;
            color: rgba($dark-green, 0.7);
        }
    }
    &__row {
        border-bottom: 5px dotted rgba($light-gray, 0.5);
        width: 100px;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        img {
            width: 200px;
            height: 180px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                scale: calc(1.05);
            }
        }
        h2 {
            font-size: $s-font;
            font-weight: 600;
            color: rgba($dark-green, 0.7);
            text-align: center;
        }
        p {
            text-align: center;
            font-size: $xxs-font;
            color: rgba($light-gray, 1);
        }
    }
}
@media screen and (max-width: 1024px) {
    .howtWorks {
        &__container {
            width: 100%;
            height: 100%;
        }
        &__data {
            display: grid;
            justify-content: center;
            align-items: center;
        }
        &__rows_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            i {
                transform: rotate(90deg);
                font-size: $xxs-font;
            }
        }
        &__row {
            border-left: 3px dotted rgba($light-gray, 0.5);
            border-bottom: none;
            height: 100px;
            width: 0px;
        }
    }
}
