@use "../../variables.scss" as *;
.security {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    margin-top: 48px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }
    &__content {
        padding: 6px;
        background-color: $light;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid rgba($light-gray, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba($dark-green, 0.7);
            font-size: $m-font;
        }
        h2 {
            text-align: center;
            color: $dark-gray;
            font-weight: 400;
            font-size: $xxs-font;
        }
    }
}
