$main-color: #020507;
$background: #131313;
$light: #ffff;
$dark: #0000;
$light-soft: #f3f3f3;
$light-low: #f3f3f33f;
$light-bright: #b9b9b9;
$light-gray: #818181;
$dark-gray: #5c5c5c;
$border-light: #131313;
$border-soft: #f0f0f0;
$border-light-bright: #c0c0c0;
$blue: #0066ff;
$green: #09ff00;
$dark-green: #31802f;
$orange: #ff7300;
$pink: #ff008c;
$red: #ff0000;
$yellow: #ffee00;
$purple: #7700ff;
$sky: #00e1ff;
$main-btn-bg: #0b0b1f;
$main-btn-color: #f5f5ff;
$xxs-font: 0.9rem;
$xs-font: 1.1rem;
$s-font: 1.4rem;
$m-font: 1.6rem;
$l-font: 2rem;
$xl-font: 3rem;
$xxl-font: 4rem;
$xxxl-font: 5rem;
