@use "../variables.scss" as *;

.sidebar {
    min-height: 100vh;
    width: 280px;
    background-color: $light;
    position: fixed;
    z-index: 9999999;
    border-right: 1px solid $light-soft;
    top: 0;
    left: -280px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    &__data {
        cursor: pointer;
        padding: 24px;
        transition: all 0.2s ease;

        &.active {
            background-color: rgba($dark-green, 0.03);
            border-left: 6px solid rgba($dark-green, 0.7);
        }

        &:hover {
            background-color: rgba($dark-green, 0.03);
            border-left: 6px solid rgba($dark-green, 0.7);
        }
    }

    &__title {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .arrow-icon {
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &.rotated {
            transform: rotate(180deg);
        }
    }

    ul.sub-menu {
        list-style: none;
        padding: 12px 0 0 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &.open {
            max-height: 100px;
        }

        li {
            padding: 2px 12px;

            a {
                background-color: rgba($dark-green, 0.5);
                display: block;
                color: inherit;
                text-decoration: none;
                font-size: 0.9em;
                padding: 5px 15px;
                border-radius: 6px;
                color: $light;
            }
        }
    }
}
