@use "../variables.scss" as *;

.sidebar {
    min-height: 100vh;
    width: 280px;
    background-color: $light;
    position: fixed;
    z-index: 9999999;
    border-right: 1px solid $light-soft;
    top: 0;
    left: -280px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    &__data {
        cursor: pointer;
        padding: 24px;
        transition: all 0.2s ease;
        &.active {
            background-color: rgba($dark-green, 0.03);
            border-left: 6px solid rgba($dark-green, 0.7);
        }
        &:hover {
            background-color: rgba($dark-green, 0.03);
            border-left: 6px solid rgba($dark-green, 0.7);
        }
    }
    &__title {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
